<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
      
	<head>
	    <title>SpringMVC - VUE</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link th:href="@{/node_modules/vue2-datepicker/lib/datepicker.css}">
	    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
	</head>
	<body>
		
		<div id="app">
			<navbar></navbar>
			<products-list v-bind:list="products">
				<template slot="tHead">
					<th>Name</th>
	  				<th>Category</th>
	  				<th>Codebar</th>
	  				<th>Quantity</th>
				</template>
				<template slot="tBody">
					<tr v-if='products.length' v-for='prod in products'>
		  				<td>{{ prod.name }}</td>
		  				<td>{{ prod.category }}</td>
		  				<td>{{ prod.codebar }}</td>
		  				<td>{{ prod.quantity }}</td>
		  			</tr>
		  			<tr v-if='!products.length'>
		  				<td colspan="4">
		  					Nenhum produto cadastrado para ser apresentado na listagem.
		  				</td>
		  			</tr>
				</template>
			</products-list>
			<div class='container'>
				<products-form id="form-products" v-bind:obj="product"></products-form>
				
				<button type='button' class='btn btn-raised btn-secondary btn-sm' v-on:click='cancel'>Cancelar</button>
				<button type='button' class='btn btn-raised btn-primary btn-sm' v-on:click='save'>Salvar</button>
			</div>
			
			<modal name="hello-world">
			  hello, world!
			</modal>
		</div>
		
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" 
			integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
			
		<script th:src="@{/node_modules/vue/dist/vue.min.js}"></script>
		<script th:src="@{/node_modules/axios/dist/axios.min.js}"></script>
		<script th:src="@{/node_modules/vue-the-mask/dist/vue-the-mask.js}"></script>
		<script th:src="@{/node_modules/vue-js-modal/dist/index.js}"></script>
		<script th:src="@{/node_modules/vue2-datepicker/lib/datepicker.js}"></script>
		<script th:src="@{/node_modules/mdbvue/dist/static/js/app.a67518ca7f972d5616bd.js}"></script>
		<script th:src="@{/js/app/fragments/navbar.js}"></script>
		<script th:src="@{/js/app/model/Product.js}"></script>
		<script th:src="@{/js/app/products/index.js}"></script>
		
	</body>
</html>